@model IEnumerable<PersonalBlogApp.Models.Blog>
@using System.Security.Claims
@using PersonalBlogApp.Helpers;

@{
	ViewData["Title"] = "GetAll";
}

<h1>Blogs</h1>
@{
	var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);

	if (@TempData["Error"] != null)
	{
		<div class="alert alert-danger">@TempData["Error"]</div>
	}
	else if (@TempData["Success"] != null)
	{
		<div class="alert alert-success">@TempData["Success"]</div>
	}
}
<div class="row">
	<div class="col-6">
		<p>
			<a class="btn btn-primary" asp-action="Create">Create New</a>
		</p>
	</div>
	<div class="col-6">
		<form asp-action="Index" method="get">
			<div class="row align-items-end">
				<div class="col">
					<label for="sortValue" class="form-label">Sort by</label>
					<select name="sortValue" class="form-select">
						<option selected disabled>Choose</option>
						<option value="newest">Newest</option>
						<option value="oldest">Oldest</option>
					</select>
				</div>
				<div class="col">
					<label for="priorityValue" class="form-label">Priority</label>
					<select name="priorityValue" class="form-select">
						<option selected>Choose</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Filter</button>
				</div>
			</div>
		</form>
	</div>

</div>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Content)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Priority)
			</th>
			<th>
				Action
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					<span class="truncate-3-lines">@HtmlUtils.StripHtml(item.Content)</span>
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Priority)
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-link dropdown-toggle" type="button" id="blogActionsDropdown-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">
							More
						</button>
						<div class="dropdown-menu" aria-labelledby="blogActionsDropdown-@item.Id">
							@if (item.UserId.Equals(currentUserId))
							{
								<a class="me-2 my-1 dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
							}

							<a class="me-2 my-1 dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
							@if (item.UserId.Equals(currentUserId) || User.IsInRole("Admin"))
							{
								<a style="cursor:pointer" class="my-1 dropdown-item" onclick="DeleteBlog('@item.Id')">Delete</a>
							}
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
<script src="/js/blog.js" asp-append-version="true"></script>