@model PersonalBlogApp.Models.Blog
@using System.Security.Claims

@{
	ViewData["Title"] = "Detail";
	var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Detail</h1>
@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">@TempData["Error"]</div>
}
else if (TempData["Success"] != null)
{
	<div class="alert alert-success">@TempData["Success"]</div>
}

<div>
	<h4>Blog</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.User)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.User.UserName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Content)
		</dt>
		<dd class="col-sm-10">
			@Html.Raw(Model.Content)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreatedDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Priority)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Priority)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Comments)
		</dt>
		<dd class="col-sm-10">
			@if (Model.Comments != null && Model.Comments.Any())
			{
				<ul class="list-group" id="comment-list">
					@foreach (var cmt in Model.Comments)
					{
						<li class="list-group-item">
							<div class="row">
								<div class="col-9">
									<strong class="username-response">@cmt.User.UserName</strong>:
									@cmt.Content
									<span class="text-muted" style="float:right;">@cmt.CreatedDate.ToString()</span>
								</div>
								<div class="col-3 d-flex">
									@if (cmt.UserId.Equals(currentUserId) || User.IsInRole("Admin"))
									{
										<form asp-action="Delete" asp-controller="Comments" method="post">
											<input type="hidden" name="blogId" value="@Model.Id" />
											<input type="hidden" name="commentId" value="@cmt.Id" />
											<button type="submit" class="btn btn-danger">Delete</button>
										</form>
										<span class="mx-3"> </span>
									}
									<button type="button" onclick="OpenReplyInput('@cmt.Id', '@cmt.Content')" class="btn btn-primary">Reply</button>
								</div>
							</div>
						</li>
						@* <div class="input-group my-2">
                            <input type="text" name="username" class="form-control" placeholder="Reply...">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div> *@
					}
				</ul>
			}
			else
			{
				<ul class="list-group" id="comment-list">
				</ul>
			}
		</dd>

		<form id="comment-form">
			<textarea name="Content" id="comment-input" placeholder="Input comment"></textarea>
			<input type="hidden" name="BlogId" id="blog-id" value="@Model.Id" />
			<button type="button" onclick="AddComment()" class="btn btn-primary">Submit Comment</button>
		</form>
		<div id="comment-reply"></div>
	</dl>
</div>
<div>
	<a asp-action="Index" asp-controller="Blogs">Back to List</a>
</div>
