@model IEnumerable<PersonalBlogApp.Models.User>

@{
    ViewData["Title"] = "GetAllUsers";
}

<h1>GetAllUsers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" class="d-flex align-items-center justify-content-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvatarUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <img src="@item.AvatarUrl" width="70%"/>
            </td>
            <td>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-primary mx-2" onlick="DetailUser(@item.Id)">Edit</button> 
                    <butotn class="btn btn-danger" onlick="RemoveUser(@item.Id)">Remove</butotn>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
