@model IEnumerable<PersonalBlogApp.Responses.DetailUserResponse>

@{
	ViewData["Title"] = "Users";
}

<h1>Users</h1>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}

<div class="row">
	<div class="col-8">
		<form asp-action="Index" class="mb-3" method="get">
			<div class="input-group">
				<input type="text" name="searchValue" class="form-control" placeholder="Input username or email to search...">
				<button class="btn btn-primary" type="submit">Search</button>
			</div>
		</form>
	</div>
	<div class="col-4">
		<form method="get" asp-action="Index">
			<select name="roleValue" class="form-select" onchange="this.form.submit()">
				<option disabled selected>Choose role</option>
				<option value="admin">Admin</option>
				<option value="user">User</option>
			</select>
		</form>

	</div>
</div>

<table class="table" class="d-flex align-items-center justify-content-center">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.User.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserRoles)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Avatar)
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.User.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Email)
				</td>
				<td>
					@{
						foreach(var role in item.UserRoles)
						{
							<p>@role</p>
						}
					}
				</td>
				<td>
					<img src="@item.User.Avatar" width="50" height="50" />
				</td>
				<td>
					<div class="d-flex align-items-center justify-content-center">
						<a class="btn btn-primary mx-2" asp-controller="Users" asp-action="Details" asp-route-id="@item.User.Id">Detail</a>
						<a class="btn btn-danger mx-2" onclick="DeleteUser('@item.User.Id')" asp-route-id="@item.User.Id">Remove</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
<script src="~/js//user.js" asp-append-version="true"></script>