@model IEnumerable<PersonalBlogApp.Responses.DetailUserResponse>
@using System.Security.Claims

@{
	ViewData["Title"] = "Users";
	var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

<h1>Users</h1>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}

<table id="personTable" class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Email</th>
			<th>UserRoles</th>
			<th>Avatar</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="align-middle">
				<td>
					@Html.DisplayFor(modelItem => item.User.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Email)
				</td>
				<td>
					@{
						foreach (var role in item.UserRoles)
						{
							<p>@role</p>
						}
					}
				</td>
				<td>
					<img class="rounded-circle" src="@item.User.Avatar" alt="Avatar" width="70" height="70" />
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-link dropdown-toggle" type="button" id="userActionsDropdown-@item.User.Id" data-bs-toggle="dropdown" aria-expanded="false">
							More
						</button>
						<div class="dropdown-menu" aria-labelledby="userActionsDropdown-@item.User.Id">
							@if (item.User.Id.Equals(currentUserId))
							{
								<a class="me-2 my-1 dropdown-item" asp-action="Edit" asp-route-id="@item.User.Id">Edit</a>
							}

							<a class="me-2 my-1 dropdown-item" asp-action="Details" asp-route-id="@item.User.Id">Details</a>
							@if (item.User.Id.Equals(currentUserId) || User.IsInRole("Admin"))
							{
								<a style="cursor:pointer" class="my-1 dropdown-item" onclick="DeleteBlog('@item.User.Id')">Delete</a>
							}
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/js/user.js" asp-append-version="true"></script>
@section Scripts {
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#personTable').DataTable();
		});
	</script>
}

